@import "tailwindcss";

@theme {
  --font-sans: "Source Code Pro", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html,
body {
  background-color: rgb(32, 33, 36);
  color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: var(--font-sans);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
